<div class="container col-md-12">
  <h1 class="mt-4">Cadastro</h1>
  <ol class="breadcrumb mb-4 bg-dark">
    <li class="breadcrumb-item active text-light">Informações do Cliente</li>
  </ol>
</div>

<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nome">Nome: </label>
        <input [(ngModel)]="cliente.nome" type="text" class="form-control border border-dark" id="nome" name="nome" placeholder="Nome:"
          required autofocus>
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email: </label>
        <input [(ngModel)]="cliente.email" type="email" class="form-control border border-dark" id="email" name="email" placeholder="Email"
          required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cpf">CPF: </label>
        <input [(ngModel)]="cliente.cpf" type="text" class="form-control border border-dark" id="cpf" name="cpf" placeholder="CPF" required>
      </div>
      <div class="form-group col-md-6">
        <label for="telefone">Telefone </label>
        <input [(ngModel)]="cliente.telefone" type="text" class="form-control border border-dark" id="telefone" name="telefone"
          placeholder="Telefone" required>
      </div>
    </div>
    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input [(ngModel)]="cliente.endereco" type="text" class="form-control border border-dark" id="endereco" name="endereco"
        placeholder="Rua ..., nº 0" required>
    </div>
    <button type="submit" class="btn btn-success" (click)=criarCliente()>Cadastrar</button>
    <button type="submit" class="btn btn-warning voltar" (click)=cadastrarParaOpcao()>Voltar</button>
  </form>
</div>