<!-- <div class="titulo">
    <h1 class="hlogin">Bem Vindo</h1>
</div> -->

<div class="container col-md-10">
    <h1 class="mt-4">Opções</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Consulta</li>
    </ol>
</div>
<div class="bloco">
        <button router-link="/cadastrar" class="btn btn-primary novobotao" (click)= opcaoParaCadastrar()>Cadastrar</button>
</div>
<div class="bloco">
    <button router-link="/consultar" class="btn btn-primary novobotao" (click)= opcaoParaConsultar()>Consultar Cliente</button>
</div>
<div class="bloco">
    <button router-link="/reserva" class="btn btn-primary novobotao" (click)= opcaoParaReserva()>Reserva</button>
</div>
