<div class="container col-md-12">
    <h1 class="mt-4">Serviços </h1>
    <ol class="breadcrumb mb-4  bg-dark">
        <li class="breadcrumb-item active  text-light">Selecione o serviço desejado: </li>
    </ol>
</div>
<div class="container">
    <div class="d-grid gap-2 col-12 text-center">

        <button router-link="/cadastrar" class="btn btn-secondary p-3 col-4" (click)=opcaoParaCadastrar()>Cadastrar
            Cliente</button><br><br>
        <button router-link="/reserva" class="btn btn-secondary p-3 col-4" (click)=opcaoParaReserva()>Cadastrar
            Reserva</button>

    </div><br>
    <div class="d-grid gap-4 col-12 text-center">
        
            <button type="button" router-link="/lista-reserva" class="btn btn-secondary p-3 col-4"
                (click)=opcaoParaListaReserva()>Registro de
                Reservas</button><br><br>
        
        
            <button type="button" router-link="/consultar" class="btn btn-secondary p-3 col-4" (click)=opcaoParaConsultar()>Registro de
                Clientes</button><br>
        
    </div>
</div>